server {
    # Enforce the use of HTTPS
    listen 80;
    server_name {{ domain }};
    
    location / {
        # redirect any requests to the same URL but on https
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl default_server;
    server_name {{ domain }};

    ssl_certificate     {{ ssl_crt }};
    ssl_certificate_key {{ ssl_key }};

    access_log /var/log/nginx/{{ domain }}.log;
    error_log /var/log/nginx/{{ domain }}-error.log error;

    location / {
        # forward application requests to the gunicorn server
        proxy_pass http://localhost:8000;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /static {
        # handle static files directly, without forwarding to the application
        alias /home/ubuntu/{{ domain }}/app/static;
        expires 30d;
    }

    charset utf-8;
    include h5bp/basic.conf;
    include h5bp/directive-only/ssl.conf;
    
    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt { log_not_found; access_log off; }    
}